.button {
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  font-weight: 500;
  outline: none;

  background: linear-gradient(transparent, transparent 50%, var(--cyan) 50%, var(--cyan));
  background-size: 100% 200%;
  transition: all .3s linear ; 
  color: var(--gray-900);
  font-weight: 700;
  font-size: 1.1em;
  width: 45%;
  border-radius: 10px;
  &:hover{
      background-position: 100% 100%;
      color: var(--white);
      border: 1px solid var(--white);
  }
}
  
.button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}


@media (max-width: 992px) {
  .button{
      margin: 30px auto;
      width: 70%;
      grid-column-start: unset;
      grid-column-end: unset;
  }
}