
.swiper-button-prev,
.swiper-button-next{
    color: #000;
}
.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        max-width: 1200px;
        width: 100%;
        .title{
            text-align: center;
            font-size: 2rem;
            color: #000;
            font-weight: 500;
        }
        .testimonial{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #000;
            margin: 80px auto;
            p{
                font-size: 1.15rem;
            }
            .testimony_name{
                position: absolute;
                top: 80%;
                font-style: italic;
                font-size: 1rem;
                font-weight: 600;
            }
        }
        
    }
    .swiper-button-next, .swiper-button-prev{
        display: none!important;
    }
    .swiper .testimony{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* Altere o número para o valor desejado */
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 150px; /* Altere a altura máxima conforme necessário */
    }
}

@media (max-width: 992px) {
    .testimonials .testimonial {
        width: 70%;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after{
        font-size: 80%;
    }
    .testimonials .container .title{
        font-size: 1.5rem;
    }
}