
.section_title{
    padding-top: 2rem;
    color: var(--gray-900);
    border-bottom: 1px solid var(--gray-900);
    .title{
        font-size:2rem;
        font-weight: 500;
    }
    @media (max-width: 992px) {
        padding-top: 3rem;
        font-size: 1.1rem;
    }
}


.disponibility_works{
    margin: 60px 0 95px;
    .work_list{
        height: 208px;
        background-color: var(--gray-300);
        border-radius: 30px;
        margin: 31px 0 ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        color: var(--gray-900);
        .work_title{
            font-weight: 500;
            font-size: 2rem;
            line-height: 2rem;
        }
        .location{
            font-size: 1rem;
            line-height: 1rem;
        }
        .read_more{
            color: var(--white);
            background-color: var(--cyan);
            font-style: normal;
            font-weight: 300;
            font-size: .87rem;
            line-height: 24px;
            width: 120px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            cursor: pointer;
        }
    }
    @media (max-width: 992px) {
        margin: 40px 0 95px;
        .work_list{
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
            .work_title{
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin-bottom: 10px;
            }
        }
        .read_more{
            margin-top: 20px;
            width: 100% !important;
        }
    }
}