
.back {
    color: var(--gray-900);
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    cursor: pointer;
    svg{
        width: 20px;
        height: 20px;
    }
}

.work_container{
    margin-top: 30px;
    color: var(--gray-900);
    h1{
        font-size: 3rem !important;
        font-weight: 500;
    }
    .description_title{
        font-size: 1.5rem !important;
        font-weight: 400;
        margin-top: 20px;
    }
    .description_title + p{
        margin: 10px 0 0 30px;
    }
}

.requirements{
    margin-bottom: 100px;
    .requirements_title{
        font-size: 1.5rem !important;
        font-weight: 400;
        margin-top: 20px;
    }
    ul{
        li{
            list-style: disc;
            margin: 10px 0 0 50px;
        }
    }
}

.button{
    background-color: var(--cyan);
    width: 400px;
    height: 55px;
    border: none;
    color: var(--white);
    border-radius: 15px;
    margin-bottom: 100px;
    transition: all .3s linear;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover{
        filter: brightness(.9);
    }
}

.jobs_form{
    display: flex;
    flex-direction: column;
    background-color: var(--gray-100);
    padding: 60px 100px;
    border-radius: 20px;
    .row{
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 50%;
        justify-content: space-between;
        gap: 20px;
        div{
            width: 45%;
            height: 40px;
            position: relative;
            margin: 30px 0 ;
            .text{
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 40px;
                    font-size: 18px;
                    padding: 0 10px;
                    display: block;
                    transition: 0.5s;
                    color: var( --gray-900);
            }
            .line{
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: var( --gray-900);
                    transition: 0.5s;
                    border-radius: 2px;
                    pointer-events: none;
                    z-index: 3;
            }
            input {
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparent;
                box-shadow: none;
                border: none;
                outline: none;
                font-size: 15px;
                padding: 0 10px;
                z-index: 1;
                color: #000;
                border-radius: 10;
                transition: all .3s linear;
                &:focus{
                    background: #fff;
                }
                &:focus + .text, &:valid + .text{
                    top: -35px;
                    left: -10px;
                }
            }
        }
    }
    .submit_button{
        background: linear-gradient(transparent, transparent 50%, var(--cyan) 50%, var(--cyan));
        background-size: 100% 200%;
        transition: all .3s linear ; 
        color: var(--gray-900);
        font-weight: 700;
        font-size: 1.1em;
        width: 45%;
        border-radius: 10px;
        &:hover{
            background-position: 100% 100%;
            color: var(--white);
            border: 1px solid var(--white);
        }
    }
}